$text-color: #2E3135;

.brand{
    width: 20%;    
    img {      
        image-rendering: crisp-edges;
    }
}

.header{
    background-color: #FAFCFF;
}

.search{
    width: 50%;
}

#input {
    outline: none;
    border: 2px solid #AA3328; /* Fallback to transparent */
    border-radius: 20px; /* Rounds the corners */
}

.icons{
    color: #512728;
}


.icon{
    width: 30%;
    span{
        font-size: 15px;
    font-weight: 500;
    }
}