@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');
@import '../shared/style.scss';

.content {
  width: $content-width; // Default width
}

.sidebar {
  width: $sidebar-width; // Default width
}

.create_form {
  height: 89vh; // Full viewport height
  padding: 40px;
  background-color: #FAFCFF;
  overflow: auto;

  h4 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: #2E3135;
  }
}

.board{
  height: 300px;
}

@media (max-width: 992px) {
  .content {
    width: 100%; // Full width when the sidebar is hidden
    display: block; // Ensure it takes up the entire layout
  }

  .sidebar {
    display: none; // Hide sidebar on tablet and smaller screens
  }

  .create_form {
    padding: 20px; // Adjust padding for smaller screens
    height: auto; // Dynamic height
    overflow-y: auto; // Enable vertical scrolling
  }
}
